
@media (min-width: 300px) {
  header{
    display:flex;
    flex-direction: column;
    row-gap:30px;
    nav{
      display:flex;
      justify-content: space-between;
      height: 10vh;
      border-radius: 15px;
      box-shadow: 0 15px 35px rgba(0,0,0,0.2);
      backdrop-filter: blur(15px);
      
      .nav-desktop{
        display:none;
      }

      .left,.right{
        font-size: 35px;
        padding:4%;
      }
      
      details {
        position: relative;
        text-align: right;
        a {
            text-decoration: none;
            color: $buttons;
            padding: 5%;
        }
    }


    details > ul {
      border-radius: 15px;
        background-color:$block;
        width: 110%;
        display: flex;
        flex-direction: column;
        > li {
            box-shadow: 0 15px 35px rgba(0,0,0,0.2);
            display: flex;
            list-style-type: none;
            width: 100%;
            justify-content: right;
        }
    }
    }
    
    .header-img{
      background-image: url("../img/app-monitoring.webp");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      width: 45vh;
      height: 45vh;
    }
    .header-body{
      min-height: 10vh;
      width:45vh;
      h1{
        background-color: red;
        background-image: linear-gradient(45deg, #8c2fee, #af4261);
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
      }
      h1,h2{
        padding: 1% 4%;
      }
      .padding-h2{
        padding-bottom:5%;
      }
      .link-header{
        margin-top: 4%;
      }
      
      a{
        text-decoration:none;
        background-color:$block;
        color:$buttons;
        padding: 2% 4%;
        margin-left: 3%;
        border-radius: 15px;
      }
    }
  }
  .about{
    @include subheader();
    display:flex;
    flex-direction: column;
    row-gap: 30px;
    
    #container {
      font-family: futura-pt, sans-serif;
      width: 100%;
      padding: 20px 0;
      box-sizing: border-box;
      .my-name {
        display:flex;
        justify-content: center;
        column-gap: 50px;
        padding: 10px 8px;
        color: #126f97;
        font-size: 11px;
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
        box-shadow: -4px -4px 4px rgba(255, 255, 255, 1),
        -4px -4px 4px rgba(255, 255, 255, .5),
        inset 1px 1px 2px rgba(255, 255, 255, .1),
        2px 2px 5px rgba(0, 0, 0, .15);
        
        .attribute{
          border-radius: 50%;
          box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
                      -2px -2px 5px rgba(255, 255, 255, .5),
                      inset 2px 2px 4px rgba(255, 255, 255, .1),
                      2px 2px 8px rgba(0, 0, 0, .15);
        }
      }
      .level{
        padding-right: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
        display: flex;
        flex-direction: row-reverse;
        column-gap: 10px;
        img{
          border-radius: 15px;
          box-shadow: -4px -4px 4px rgba(255, 255, 255, 1),
              -4px -4px 4px rgba(255, 255, 255, .5),
              inset 1px 1px 2px rgba(255, 255, 255, .1),
              2px 2px 5px rgba(0, 0, 0, .15);
        }
      }
      .my-image{
        display:flex;
        flex-direction: column;
        align-items:center ;
        border-radius: 5px;
        img{
          width: 35vh;
          border-radius: 5px;
          box-shadow: -4px -4px 4px rgba(255, 255, 255, 1),
        -4px -4px 4px rgba(255, 255, 255, .5),
        inset 1px 1px 2px rgba(255, 255, 255, .1),
        2px 2px 5px rgba(0, 0, 0, .15);
        }
      }
      .card{
        border: 1px solid transparent;
        min-height: 70vh;
        box-shadow: -5px -5px 5px rgba(255, 255, 255, 1),
              -4px -4px 4px rgba(255, 255, 255, .5),
              inset 1px 1px 2px rgba(255, 255, 255, .1),
              5px 5px 5px rgba(0, 0, 0, .15);
              border-radius: 10px;
      }
      
      .description{
        margin: 5%;
        padding: 3%;
        border-radius: 5px;
        box-shadow: -4px -4px 4px rgba(255, 255, 255, 1),
              -4px -4px 4px rgba(255, 255, 255, .5),
              inset 1px 1px 2px rgba(255, 255, 255, .1),
              2px 2px 5px rgba(0, 0, 0, .15);
      }

      .atk-def{
        margin-top: 10px;
        padding-top: 5px;
        border-top: solid 1px #d8d8d8;
        font-size: 12px;
        text-align: right;
      }
    }
  }  
      
  .projects{
    @include subheader();
    display:flex;
    flex-direction:column;
    row-gap: 30px;
    .container-projects{
      display:flex;
      flex-direction: column;
      row-gap: 30px;
      .container{
        display:flex;
        flex-direction: column;
        align-items: center;
        border-radius: 15px;
        background-color: $block;
        box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
        height: 60vh;
        p{
          padding:5%;
          
          text-align: center;
        }
        a{
          width: 100%;
          padding-bottom: 7%;
          padding-left: 24%;
          text-decoration: none;
          color: $buttons;
        }
      }
      h3{
        text-align: center;
        padding: 5%;
      }
    }
    .projeto1{
      @include project-cardImg("../img/projeto1.png");
    }
    .projeto2{
      @include project-cardImg("../img/projeto2.png");
    }
    .projeto3{
      @include project-cardImg("../img/projeto3.png");
    }
    .projeto4{
      @include project-cardImg("../img/projeto4.png");
    }
    .projeto5{
      @include project-cardImg("../img/projeto5.png");
    }
    .projeto6{
      @include project-cardImg("../img/projeto6.png");
    }
  }
  
  .skills{
    @include subheader();
    display:flex;
    flex-direction: column;
    row-gap: 30px;

    .progress-bar{
      display: flex;
      flex-direction: column;
      row-gap: 10px; 
      width:100%;

      %p-progress {
        width: 100%;
        background-color: gainsboro;
        display: flex;
      }
      
      > p:nth-child(1) {
        @extend %p-progress;
        @include progess-bar(80%);
      }
      > p:nth-child(2) {
        @extend %p-progress;
        @include progess-bar(90%);
      }
    
      > p:nth-child(3) {
        @extend %p-progress;
        @include progess-bar(70%);
      }
      > p:nth-child(4) {
        @extend %p-progress;
        @include progess-bar(60%);
      }
    }
  }
  
  .education{
    @include subheader();
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    div{
      display:flex;
      flex-direction: column;
      row-gap: 30px;
      .card-body{
        padding:5%;
      }

      .card-ser{
        @include Education-cardImg("../img/logo-colegio-ser-mobile.png");
      }
      .card-mack{
        @include Education-cardImg("../img/mackenzie-logo.png");
      }
      .card-tam{
        @include Education-cardImg("../img/tamwood-logo.png")
      }

      a{
        border: none;
        width: 40%;
        text-align: center;
        padding:2%;
        background-color:$buttons;
        text-decoration: none;
        color: $defaultColor;
        border-radius: 15px;
      }
    }
    .card{
      border: 1px solid gainsboro;
      box-shadow: -4px -4px 4px rgba(255, 255, 255, 1),
              -4px -4px 4px rgba(255, 255, 255, .5),
              inset 1px 1px 2px rgba(255, 255, 255, .1),
              2px 2px 5px rgba(0, 0, 0, .15);
      border-radius: 15px;
      padding: 3%;
    }
  }

  .contact{
    display:flex;
    flex-direction: column;
    row-gap: 20px;
    @include subheader();

    form {
      display:flex;
      flex-direction: column;
      row-gap: 10px;
      padding: 1%;
      align-items: center;
    }

    input{
      border: 1px solid gainsboro;
      padding: 4%;
      outline:none;
      width: 90%;
    }

    [type="submit"]{
      background-color:$buttons;
      color: $defaultColor;
      font-weight: bold;
      width: 99%;
    }

    textarea{
      border: 1px solid gainsboro;
      width: 90%;
      padding: 4%;
      height: 10vh;
    }

    .text-below-contact{
      display:flex;
      flex-direction: column;
      row-gap: 30px;
      div{
        display:flex;
        flex-direction: column;
      }
      a{
        text-decoration: none;
        color: cornflowerblue;
      }
    }
  }

  footer{
    background-color: $block;
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 5px;
    padding: 1%;
    color: whitesmoke;
    article{
      width: 99%;
      height: 19vh;
    }
    p{
      padding: 5%;
    }

    input{
      padding:1.5%;
      border: none;
      outline:none;  
    }

    [type="submit"]{
      background-color:$buttons;
      color: $defaultColor;
      font-weight: bold;
    }

    h1{
      font-weight:900;
    }

    a{
      text-decoration: none;
      color: whitesmoke;
    }

    article:nth-child(1) > .container-links-footer{
      display:flex;
      justify-content: center;
      column-gap: 15px;
      font-size: 30px;
    }
    
  }
}